<!DOCTYPE html>
<html>
    <head>
        <title>Todo List</title>
        <link rel="stylesheet" type="text/css" href="/css/home.css">
    </head>
    <body>
        <h1>Todo List</h1>
        <form action="/create-tasks" method="POST">
            <textarea name="content" rows="5" cols="30" placeholder="What do you need to do ?" required></textarea>
            <br>
            <input type="date" name="due" required>
            <br>
            <label for="cars">Choose a Category</label>
            <select id="cars" name="category" size="3">
            <option value="Personal">Personal</option>
            <option value="Work">Work</option>
            <option value="School">School</option>
            <option value="Cleaning">Cleaning</option>
            <option value="Other">Other</option>
            </select>
            <br>
            <br>
            <input type="submit" value="ADD TASK">
        </form>
        <br>
        <br>
        <div id="tasks">
            <% for(tasks of tasks_list) { %>
                <h1><%=tasks.content%></h1>
                <p><%=tasks.category%></p>
                <p><%=month[tasks.due.getMonth()]%> <%=tasks.due.getDate()%>, <%=tasks.due.getFullYear()%> </p>
                <a href="/delete-tasks/?id=<%=tasks._id%>">Delete Task</a>
                <br>
            <% } %>
        </div>
    </body>
</html>